# Análisis y Predicción de Ventas en una Tienda de Retail (Core)

### Parte III: Transformación y Análisis Avanzado de Datos con Pandas

Este notebook realiza un análisis avanzado en el dataset de ventas retail proporcionado.
Incluye transformación, agrupación y análisis personalizado utilizando Pandas.

In [2]:
# Paso 1: Preparación del Entorno
import pandas as pd

# Cargar el dataset de ventas retail
file_path = 'data/retail_sales_dataset.csv'
df = pd.read_csv(file_path)
df['Date'] = pd.to_datetime(df['Date'])  # Convertir la columna Date a formato datetime para análisis temporal
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

## Paso 2: Transformación de Datos

In [3]:
# Crear nuevas columnas para el análisis

# Calcular ingreso total por venta
df['Total Revenue'] = df['Quantity'] * df['Price per Unit']

# Normalización de ventas
df['Normalized Revenue'] = (df['Total Revenue'] - df['Total Revenue'].mean()) / df['Total Revenue'].std()

# Clasificación de ventas: Alta, Media, Baja según percentiles
def classify_sales(revenue):
    if revenue >= df['Total Revenue'].quantile(0.75):
        return 'Alta'
    elif revenue >= df['Total Revenue'].quantile(0.25):
        return 'Media'
    else:
        return 'Baja'

df['Sales Category'] = df['Total Revenue'].apply(classify_sales)
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,Total Revenue,Normalized Revenue,Sales Category
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,150,-0.546431,Media
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,1000,0.971433,Alta
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,30,-0.760718,Baja
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,500,0.078572,Media
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,100,-0.635717,Media

## Paso 3: Agrupación y Agregación

In [4]:
# Agrupación por 'Product Category' y 'Date' para obtener estadísticas descriptivas

product_store_group = df.groupby(['Product Category', df['Date'].dt.month])

# Aplicar funciones de agregación
agg_stats = product_store_group['Total Revenue'].agg(['sum', 'mean', 'count', 'min', 'max', 'std', 'var'])
print('\nEstadísticas descriptivas por categoría de producto y mes:')
print(agg_stats)

Estadísticas descriptivas por categoría de producto y mes:
                         sum        mean  count  min   max         std  \
Product Category Date
Beauty           1     13930  535.769231     26   25  2000  658.818173
                 2     14035  539.807692     26   25  2000  697.754227
                 3     10545  502.142857     21   25  1500  482.914515
                 4     11905  410.517241     29   25  2000  519.650200
                 5     12450  444.642857     28   30  2000  571.555591
                 6     10995  439.800000     25   25  2000  512.246848
                 7     16090  595.925926     27   30  2000  626.063767
                 8      9790  407.916667     24   25  1200  451.730770
                 9      6320  316.000000     20   25  2000  505.963385
                 10    15355  495.322581     31   25  2000  552.575689
                 11     9700  388.000000     25   25  2000  583.129131
                 12    12400  496.000000     25   25  2000  583.336310
Clothing         1     13125  504.807692     26   25  2000  540.872408
                 2     14560  441.212121     33   25  2000  551.721780
                 3     15065  396.447368     38   25  2000  497.562855
                 4     13940  387.222222     36   25  2000  576.183806
                 5     17455  471.756757     37   25  2000  567.646477
                 6     10170  363.214286     28   25  1500  437.639320
                 7      8250  434.210526     19   25  2000  602.112631
                 8     12455  389.218750     32   25  2000  564.528221
                 9      9975  498.750000     20   50  2000  630.421486
                 10    13315  443.833333     30   25  2000  617.892251
                 11    15200  584.615385     26   25  2000  565.793113
                 12    12070  464.230769     26   30  2000  540.911624
Electronics      1      9925  381.730769     26   25  2000  568.823245
                 2     15465  594.807692     26   30  2000  623.949486
                 3      3380  241.428571     14   30  1000  277.678761
                 4      8025  382.142857     21   25  1500  512.217169
                 5     23245  581.125000     40   25  2000  653.749038
                 6     15550  647.916667     24   30  2000  675.026435
                 7     11125  427.884615     26   30  2000  507.791637
                 8     14715  387.236842     38   25  2000  509.448161
                 9      7325  293.000000     25   30  2000  436.811363
                 10    17910  511.714286     35   25  2000  662.387552
                 11    10020  371.111111     27   25  1500  505.725551
                 12    20220  505.500000     40   25  2000  560.315616

                                 var
Product Category Date
Beauty           1     434041.384615
                 2     486860.961538
                 3     233206.428571
                 4     270036.330049
                 5     326675.793651
                 6     262396.833333
                 7     391955.840456
                 8     204060.688406
                 9     255998.947368
                 10    305339.892473
                 11    340039.583333
                 12    340281.250000
Clothing         1     292542.961538
                 2     304396.922348
                 3     247568.794452
                 4     331987.777778
                 5     322222.522523
                 6     191528.174603
                 7     362539.619883
                 8     318692.111895
                 9     397431.250000
                 10    381790.833333
                 11    320121.846154
                 12    292585.384615
Electronics      1     323559.884615
                 2     389312.961538
                 3      77105.494505
                 4     262366.428571
                 5     427387.804487
                 6     455660.688406
                 7     257852.346154
                 8     259537.428876
                 9     190804.166667
                 10    438757.268908
                 11    255758.333333
                 12    313953.589744

## Paso 4: Análisis Personalizado con apply

In [5]:
# Calcular la desviación de cada venta respecto a la media de su grupo

def deviation_from_mean(x):
    return x - x.mean()

df['Revenue Deviation'] = df.groupby('Product Category')['Total Revenue'].transform(deviation_from_mean)
df[['Product Category', 'Total Revenue', 'Revenue Deviation']].head()

  Product Category  Total Revenue  Revenue Deviation
0           Beauty            150        -317.475570
1         Clothing           1000         556.752137
2      Electronics             30        -428.786550
3         Clothing            500          56.752137
4           Beauty            100        -367.475570